<%= bootstrap_form_for(@repo) do |f| %>
  <% if @repo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repo.errors.count, "error") %> prohibited this repo from being saved:</h2>

      <ul>
      <% @repo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="add_repo_field">
    <%= f.url_field :html_url, required: true, label: "Github Url" %>
  </div>

  <div class="actions" id="add_repo_submit">
    <%= f.submit %>
  </div>
<% end %>
