<p id="notice"><%= notice %></p>

<h1>My Repos</h1>
 
<% if current_user %>
	<table>
		<%= bootstrap_form_tag actions_path, method: :post do %>
			<% @repos.each do |repo| %>
			<tr>
				<td><%= check_box_tag("repo_ids[]", repo.id) %></td>
				<td><%= repo.owner + "/" + repo.name %></td>
			</tr>   
			<% end %>
			<%= submit_tag "Delete", name: 'delete' %>
			<%= submit_tag "Scan Selected", name: 'scan' %>
		<% end %>
	</table>
<% end %>
