<p id="notice"><%= notice %></p>

<h2>Project Detail: <%= @repo.name %></h2>


<table class="table table-striped">
    <tbody>
      <tr>
        <th>Name</th>
        <td><%= @repo.name %></td>
      </tr>
      <tr>
        <th>Ower</th>
        <td><%= @repo.owner %></td>
      </tr>
      <tr>
        <th>URL</th>
        <td><%= @repo.html_url %></td>
      </tr>
      <tr>
        <th>Language</th>
        <td><%= @repo.language %></td>
      </tr>
      <tr>
        <th>Size</th>
        <td><%= @repo.size %></td>
      </tr>
      <tr>
        <th>Number of Scans</th>
        <% if @repo.scans %>
          <td><%= @repo.scans.count %></td>
        <% else %>
          <td>0</td>
        <% end %>
      </tr>
      <tr>
        <th>Most Recent Scanned On</th>
        <% if @repo.scans.last %>
          <td><%= @repo.scans.last.created_at %></td>
        <% else %>
          <td>N/A</td>
        <% end %>
      </tr>
      <tr>
        <th>Number of Vulnerabilities</th>
        <% if @repo.scans.last %>
          <td><%= @repo.scans.last.issues.count %></td>
        <% else %>
          <td>N/A</td>
        <% end %>
      </tr>
      <tr>
        <th>Most Severe Issues</th>
        <% if @issues %>
          <td><%= select_tag 'issues', options_for_select(@issues.collect{ |issue| [issue.description] })%></td>
        <% else %>
          <td><%= select_tag 'issues', options_for_select(['N/A']) %></td>
        <% end %>
      </tr>

    </tbody>
</table>
