<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @repo.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @repo.owner %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @repo.full_name %>
</p>

<p>
  <strong>Html url:</strong>
  <%= @repo.html_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repo.description %>
</p>

<p>
  <strong>Language:</strong>
  <%= @repo.language %>
</p>

<p>
  <strong>Size:</strong>
  <%= @repo.size %>
</p>

<%= link_to 'Edit', edit_repo_path(@repo) %> |
<%= link_to 'Back', repos_path %>
