<p id="notice"><%= notice %></p>

<p>
  <strong>Severity:</strong>
  <%= @issue.severity %>
</p>

<p>
  <strong>Source:</strong>
  <%= @issue.source %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @issue.detail %>
</p>

<p>
  <strong>Fingerprint:</strong>
  <%= @issue.fingerprint %>
</p>

<p>
  <strong>Scan:</strong>
  <%= @issue.scan %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
