<p id="notice"><%= notice %></p>
<h1>User Settings</h1></br>

<p> Go <a href="https://github.com/settings/tokens">here</a> to create a token! </p>

<%= form_for @user, url: user_settings_path, html: {class: "token_form"}, method: :post do |f| %>

    <div class="field">
      <%= f.label :access_token %><br />
      <%= f.text_field :access_token, placeholder: '40 character token'%>
    </div> 

  <%= f.submit "Add Token" %>
<% end %>