<p id="notice"><%= notice %></p>

<div class="scan-result-page">

  <h1>Scans Completed</h1>

  <h4>Number of Repositories Scaned: <%= @repos.count %></h4>


  <table class="table">
    <thead>
      <tr>
        <th>Repo</th>
        <th>Status</th>
        <th>Number of Vulnerabilities</th>
        <th>Detail</th>
      </tr>
    </thead>

    <tbody>
      <% @srepos.each do |repo| %>
        <tr>
          <td><%= repo.owner %>/<%= repo.name %></td>
          <td><%= repo.scans.last.status %></td>
          <td><%= repo.scans.last.issues.count %></td>
          <td><%= link_to "report", repo.scans.last %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
