<p id="notice"><%= notice %></p>
<p>
  <strong>Repo:</strong>
  <%= @scan.repo.owner + "/" + @scan.repo.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @scan.status %>
</p>

<%= button_to "Delete", {:controller => :scans,
      :action => 'destroy', :id => @scan.id }, :method => :delete, class: "btn btn-default"%>

<table class="table">
	<thead>
	  <tr>
	    <th>Severity</th>
	    <th>Vulnerabilities Found</th>
	    <th>Detail</th>
	  </tr>
	</thead>
	<tbody>
		<% @issues.each_with_index do |issue, index| %>
		  <tr class="<%= class_for_severity(issue.severity)%>" data-toggle="modal" data-target="#issues_modal_<%= index %>">
		    <td><%= issue.severity %></td>
		    <td><%= issue.description %></td>
<td>View</td>
		    

        <%= render :partial => "issues", :locals => { :issue => issue, :index => index }  %>

		  </tr>
		<% end %>
	</tbody>
</table>
