<p id="notice"><%= notice %></p>
<p>
  <strong>Repo:</strong>
  <%= @scan.repo.owner + "/" + @scan.repo.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @scan.status %>
</p>

<table class="table">
	<thead>
	  <tr>
	    <th>Severity</th>
	    <th>Vulnerabilities Found</th>
	    <th>Detail</th>
	  </tr>
	</thead>
	<tbody>
		<% @issues.each_with_index do |issue, index| %>
		  <tr class="<%= 'danger' if issue.severity == 3 %> <%= 'warning' if issue.severity == 2 %> <%= 'info' if issue.severity == 1 %>" data-toggle="modal" data-target="#issues_modal_<%= index %>">
		    <td><%= issue.severity %></td>
		    <td><%= issue.description %></td>
		    <td>View</td>

        <%= render :partial => "issues", :locals => { :issue => issue, :index => index }  %>

		  </tr>
		<% end %>
	</tbody>
</table>
