<% if !current_user %>
	<div class="un-logged-in">

		<%= image_tag("detectiveV.png", :alt => "logo") %>
    <div class="project-description">
  		<p>Are you concerned with security in your open-source software? Let Detective V handle your dependencies for you!</p>
    </div>

		<h4>Ready to get started?</h4>

		<%= link_to "Sign in with Github", user_github_omniauth_authorize_path, class: "btn btn-default" %>

	</div>

<% else %>

	<div class="home-container">
		<h2>User Summary</h2>
		<%= link_to "New Scan", repos_path, class: "btn btn-default pull-right" %>
	</div>

	<table class="table table-striped">
    <tbody>
      <tr>
        <th>Number of Repositories</th>
        <td><%= current_user.repos.count %></td>
      </tr>
      <tr>
        <th>Number of Scans</th>
        <td><%= current_user.scans.count %></td>
      </tr>
      <tr>
        <th>Number of Issues</th>
        <td><%= current_user.issues.count %></td>
      </tr>
    </tbody>
	</table>

<% end %>
